<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Converto"
        tools:targetApi="31">
        <activity
            android:name=".bmi"
            android:exported="false"
            android:label="BMI"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".currency"
            android:exported="false"
            android:label="Currency"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".weight"
            android:exported="false"
            android:label="Weight"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".length"
            android:exported="false"
            android:label="Length"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".temp"
            android:exported="false"
            android:label="Temperature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>